<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profil_victor_pic' %>
  </div>
  <div id="content">
    <h1>Je suis Victor Goutay,</h1>
    <p>Ici vous découvrirez, Moreover, Varon and Felizi wanted to highlight
       the empowering aspects of sending nudes, like “exploring your best
        angles, having fun with your body, and figuring out sex in a post-porn
         visual narrative.” In an effort to push for creative images outside 
         of the traditional and patriarchal visual narrative of sex, Varon has
          advocated for experimentation with erotic photos of necks, ankles, or feet.
For the past 18 months, Varon, Felizi, and other members of Coding Rights — a
 group led by Brazilian women that aims to advance human rights in the digital world
  — have been busy with their project, which has involved writing on the topic in
  blogs and zines and holding several workshops in Brazil, Germany, and Canada.</p>
  </div>
</div>